<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('./partials/links-head.ejs'); %>
    <style>
      .online {
        color: green;
        font-weight: bold;
      }

      .offline {
        color: red;
        font-weight: bold;
      }

      .message-input {
        width: 100%;
        margin-right: 10px;
        padding: 1rem;
        border: 1px solid #ccc;
        resize: none;
        border-radius: 5px;
        min-height: 52px;
        font-size: 1rem;
        line-height: 1.5rem;
        font-family: inherit;
        overflow: hidden;
      }

      /* .send-button {
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      } */

      .mymessage {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        margin: 10px;
        font-size: 20px;
        /* float: right; */
      }

      .mymessage2 {
        background-color: rgb(101, 134, 254);
        padding: 10px;
        border-radius: 5px;
        color: white;
      }

      .outhermessage {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
        font-size: 20px;
        /* float: left; */
      }

      .outhermessage2 {
        background-color: rgb(48, 51, 70);
        padding: 10px;
        border-radius: 5px;
        color: rgb(81, 84, 103);
      }

      /* #chat {
        overflow-y: auto;
        background-color: rgb(34, 49, 74);
        width: 50%;
      }

      #username {
        font-weight: bold;
        font-size: 25px;
      } */
    </style>
  </head>
  <body class="bg-gray-200 w-full flex h-screen gap-8 overflow-hidden">
    <header class="bg-white w-[300px] h-full flex flex-col justify-between p-5">
      <nav class="">
        <ul class="flex flex-col gap-2 text-[#949494]">
          <li><a href="">Chats</a></li>
          <li><a href="">Groups</a></li>
          <li><a href=""></a></li>
        </ul>
      </nav>
      <div class="flex flex-col">
        <span>Profile</span>
        <span>Configurações</span>
        <a href="/logout">Logout</a>
      </div>
    </header>
    <main class="bg-white w-full">
      <div class="w-full flex">
        <div class="max-w-[500px] w-full h-screen px-5 bg-[rgb(37,_40,_55)] border-x overflow-auto">
          <h3 class="p-3 text-white">Conversas</h3>
          <% if(friends != undefined || friends != null){ %> <%
          friends.forEach(function(friend){ %>
          <div
            class="friend_id flex items-center gap-2 py-2 hover:cursor-pointer mb-2"
            user="<%= friend.name %>"
            data-id="<%= friend._id %>"
          >
            <div>
              <img
                class="w-[55px] h-[55px] rounded-full object-cover"
                src="src/<%= friend.image %>"
                alt=""
              />
            </div>
            <div class="flex justify-between items-center w-full">
              <p class="text-white"><%= friend.name %></p>
              <% if(friend.is_online == '1'){ %>
              <p class="online" id="<%= friend._id %>-status">Online</p>
              <% }else{ %>
              <p class="offline" id="<%= friend._id %>-status">Offline</p>
              <% } %>
            </div>
          </div>
          <% }) %> <% }else{ %>
          <p>Não há usuários</p>
          <% } %>
        </div>

        <div class="flex flex-col w-full h-screen bg-[rgb(29,_31,_43)] p-3">
          <div id="username" class="w-full p-5 bg-[rgb(37,_40,_55)] text-white font-bold rounded-lg hidden"></div>
          <div id="withoutMessage" class="bg-[rgb(29,_31,_43)] h-screen w-full"><p class="h-screen flex items-center justify-center text-white text-base font-extrabold">Sem nenhuma mensagem selecionada</p></div>
          <div
            id="chat"
            class="bg-[rgb(29,_31,_43)] overflow-y-auto w-full h-screen"
          ></div>
          <form
            id="chat-form"
            class="w-full bg-[rgb(29,_31,_43)] flex items-center p-[15px]"
          >
            <textarea
              rows="1"
              cols="0"
              style="background-color: rgb(48, 51, 70); border: none; user-select: none; color: white;"
              class="message-input focus:outline-none"
              id="message"
              placeholder="Message..."
              type="text"
            ></textarea>
            <button type="sumit"
                class="p-[10px] bg-[#007bff] text-white rounded-[5px] cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4.698 4.034l16.302 7.966l-16.302 7.966a.503 .503 0 0 1 -.546 -.124a.555 .555 0 0 1 -.12 -.568l2.468 -7.274l-2.468 -7.274a.555 .555 0 0 1 .12 -.568a.503 .503 0 0 1 .546 -.124z" />
                    <path d="M6.5 12h14.5" />
                  </svg>
            </button>
          </form>
        </div>
      </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
      var user_id = "<%= user._id %>";
      var received_id;
      $(document).ready(function () {
        $("#chat").hide();
        $("#chat-form").hide();

        $(".friend_id").click(function () {
          var id = $(this).attr("data-id");
          $("#username").text($(this).attr("user"));
          received_id = id;
          //$('#nome-client').append('Teste')
          $("#withoutMessage").addClass('hidden')
          $("#username").removeClass('hidden')
          $("#chat").show();
          $("#chat-form").show();
          socket.emit("existsChat", {
            send_id: "<%= user._id %>",
            receive_id: received_id,
          });
        });
      });

      var socket = io({
        auth: {
          token: "<%= user._id %>",
        },
      });

      socket.on("getOnlineUser", function (data) {
        $("#" + data.user_id + "-status").text("Online");
        $("#" + data.user_id + "-status").removeClass("offline");
        $("#" + data.user_id + "-status").addClass("online");
      });

      socket.on("getOfflineUser", function (data) {
        $("#" + data.user_id + "-status").text("Offline");
        $("#" + data.user_id + "-status").removeClass("online");
        $("#" + data.user_id + "-status").addClass("offline");
      });

      //Chat save of user
      $("#chat-form").submit(function (event) {
        event.preventDefault();

        var message = $("#message").val();

        $.ajax({
          url: "/save-messages",
          type: "POST",
          data: {
            sender_id: "<%= user._id %>",
            received_id: received_id,
            message: message,
          },
          success: function (response) {
            console.log(response);

            if (response.data.send_id == user_id) {
              var className = "mymessage";
            } else {
              var className = "outhermessage";
            }

            if (response.success) {
              $("#message").val("");
              var chat = response.data.message;
              var html = `
                        <div class="${className}">
                            <div class="${className}2">
                                <h5>${chat}</h5>
                            </div>
                        </div>
                    `;
              $("#chat").append(html);
              scrollChat();
              document.getElementById("message").style.height = "56px";
              socket.emit("newChat", response.data);
            } else {
              alert(response.msg);
            }
          },
        });
      });

      socket.on("loadNewChat", function (res) {
        console.log("------- aqui -------");
        console.log(res);

        if (user_id === res.receive_id && received_id == res.send_id) {
          if (res.send_id == user_id) {
            var className = "mymessage";
          } else {
            var className = "outhermessage";
          }

          let html = `
                    <div class="${className}">
                        <div class="${className}2">
                            <h5>${res.message}</h5>
                        </div>
                    </div>
                `;
          $("#chat").append(html);

          scrollChat();
          //socket.emit('notification', {not: true})
        }
      });

      socket.on("oldChat", function (data) {
        $("#chat").html("");

        var chats = data.chat;
        let html = "";

        console.log(chats);

        for (let i = 0; i < chats.length; i++) {
          console.log("data.send_id: ", chats[i].send_id);
          console.log("user_id: ", user_id);
          if (chats[i].send_id == user_id) {
            var className = "mymessage";
          } else {
            var className = "outhermessage";
          }
          html += `
                    <div class="${className}">
                        <div class="${className}2"><h5>${chats[i]["message"]}</h5></div>
                    </div>
                `;
        }

        $("#chat").append(html);

        scrollChat();
      });

      function scrollChat() {
        $("#chat").animate({
          scrollTop: $("#chat").offset().top + $("#chat")[0].scrollHeight,
        });
      }

      const textarea = document.getElementById("message");

      textarea.addEventListener("input", () => {
        textarea.style.height = "auto"; // Redefine a altura para auto para que a altura seja recalculada corretamente
        textarea.style.height = textarea.scrollHeight + "px"; // Define a altura para a altura do conteúdo
        scrollChat();
      });

      addEventListener("keypress", function (event) {
        console.log(event);
      });
    </script>
  </body>
</html>
